    <div class="footer-box">
      <footer>
        <div class="icons">
          <a href="https://www.facebook.com/Majdy.Laba/" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>

          <a href="https://www.instagram.com/majdylaba/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>

          <a
      href="https://www.youtube.com/channel/UCFqc_TuWJoXpmpDyHLjSVTA"
      target="_blank"
        >
          <i class="fab fa-youtube"></i>
        </a>
        </div>
        <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Calisthenics FAQs © 2022</p>
      </footer>
    </div> 
  </body>
</html>