<nav class="navbar">
  <a href="./index.html" class="logo">Calisthenics<span>FAQs</span></a>
  <a href="#" class="toggle-spans">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
  <div class="navbar-buttons">  
    <ul>
      <li><a href="index.html">Programms</a></li>
      <li><a href="youtube.html">Free Tutorials!</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="myItems.html">my Items</a></li>
    </ul>
  </div>
</nav>
